<header class="row">
  <div class="twelve columns">
    <div class="logo-container">
      <a href="{{ site_url('/') }}"><img src="{{ theme.logoImage.thumbnail('auto', 'auto') }}" alt="VERB" class="logo"></a>
    </div>
    <div id="mini-cart">
        {{ partial('shop-minicart') }}
    </div>
    <div id="nav-menu-icon"><span></span><span></span><span></span><span></span></div>
    <div class="header-menu-bar-dropdown">
      <ul>
<!--
            <div class="four columns login align-right hide-for-small">
    {% if customer %} Hey, {{ customer.first_name }}! |
      <a class="{{ active_page == 'orders' ? 'active' : null }}" href="{{ site_url('orders') }}">My Orders</a> |
      <a class="{{ active_page == 'profile' ? 'active' : null }}" href="{{ site_url('profile') }}">My Account</a> | 
      <a href="{{ site_url('logout') }}">Logout</a>
    {% else %}
      <a href="{{ site_url('login') }}">Login</a>
    {% endif %}
  </div>
-->

        {% if customer %}
          <li>Hey, {{ customer.first_name }}!</li>
          <li><a href="{{ site_url('orders') }}">My Orders</a></li>
          <li><a href="{{ site_url('profile') }}">My Account</a></li>
        {% endif %}
        <li><a href="{{ site_url('/') }}">Home</a></li>
        <li><a href="{{ site_url('product/original-oats-cocoa') }}">Buy Verb</a></li>
        <li><a href="{{ site_url('about') }}">About Verb</a></li>
        <li><a href="{{ site_url('about#faq') }}">FAQ</a></li>
<!--
        <li><a href="{{ site_url('nutrition') }}">Nutrition</a></li>
        <li><a href="{{ site_url('faq') }}">FAQ</a></li>
-->
        <li><a href="{{ site_url('contact') }}">Contact Us</a></li>
        {% if customer %}
          <li><a href="{{ site_url('logout') }}">Logout</a></li>
        {% else %}
          <li><a href="{{ site_url('login') }}">Login</a></li>
        {% endif %}
        <li class="social">
          <a href="https://instagram.com/verbenergy"><i class="fa fa-instagram"></i></a>
          <a href="https://facebook.com/verbenergy"><i class="fa fa-facebook"></i></a>
          <a href="https://pinterest.com/verbenergy"><i class="fa fa-pinterest"></i></a>
          <a href="https://twitter.com/verbenergy"><i class="fa fa-twitter"></i></a>
<!--      <a href="https://youtube.com/verbenergy"><i class="fa fa-youtube"></i></a>-->
        </li>
      </ul>
<!--      {{ widget_block("header-menu") }}-->
    </div>
  </div>
</header>
