
.nav-bar {
  height: 3em;
  margin-left: 0;
  padding: 0
}

.nav-bar>li {
  display: block;
  padding: 0;
  margin: 0;
  border-right: none;
  line-height: 2;
}

.nav-bar>li:first-child {
  -webkit-box-shadow: 0 0 0;
  -moz-box-shadow: 0 0 0;
  box-shadow: 0 0 0
}

.nav-bar>li:last-child {
  border-right: solid 1px #333;
  -webkit-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.2) inset, 1px 0 0 rgba(255, 255, 255, 0.2);
  -moz-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.2) inset, 1px 0 0 rgba(255, 255, 255, 0.2);
  box-shadow: 1px 0 0 rgba(255, 255, 255, 0.2) inset, 1px 0 0 rgba(255, 255, 255, 0.2)
}

.nav-bar>li.active {
  background: #dc3e2f;
  border-color: #b92c1f
}

.nav-bar>li.active>a {
  color: #fff;
  cursor: default
}

.nav-bar>li.active:hover {
  background: #dc3e2f;
  cursor: default
}

.nav-bar>li:hover {
  background: #333
}

.nav-bar>li>a {
}

.nav-bar>li ul {
  margin-bottom: 0
}

.nav-bar>li .flyout {
  display: none
}

.nav-bar>li.has-flyout>a:first-child {
  padding-right: 40px;
  position: relative
}

.nav-bar>li.has-flyout>a:first-child:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: solid 4px;
  border-color: #e6e6e6 transparent transparent transparent;
  position: absolute;
  right: 20px;
  top: 17px
}

.nav-bar>li.has-flyout>a.flyout-toggle {
  border-left: 0 !important;
  position: absolute;
  right: 0;
  top: 0;
  padding: 20px;
  z-index: 2;
  display: block
}

.nav-bar>li.has-flyout.is-touch>a:first-child {
  padding-right: 55px
}

.nav-bar>li.has-flyout.is-touch>a.flyout-toggle {
  border-left: 1px dashed #666
}

.nav-bar>li>a:first-child {
  position: relative;
  padding: 0 20px;
  display: block;
  text-decoration: none;
  font-size: 14px
}

.nav-bar>li>input {
  margin: 0 10px
}

.nav-bar.vertical {
  height: auto;
  margin-top: 0
}

.nav-bar.vertical>li {
  float: none;
  border-bottom: none;
  border-right: solid 1px #333;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none
}

.nav-bar.vertical>li.has-flyout>a:first-child:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: solid 4px;
  border-color: transparent transparent transparent #e6e6e6
}

.nav-bar.vertical>li .flyout {
  left: 100%;
  top: -1px
}

.nav-bar.vertical>li .flyout.right {
  left: auto;
  right: 100%
}

.nav-bar.vertical>li.active {
  border-right: solid 1px #b92c1f
}

.nav-bar.vertical>li:last-child {
  border-bottom: solid 1px #333
}

.flyout {
  background: #f2f2f2;
  padding: 20px;
  margin: 0;
  border: 1px solid #d9d9d9;
  position: absolute;
  top: 39px;
  left: -1px;
  width: 250px;
  z-index: 40;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1)
}

.flyout p {
  line-height: 1.2;
  font-size: 13px
}

.flyout *:first-child {
  margin-top: 0
}

.flyout *:last-child {
  margin-bottom: 0
}

.flyout.small {
  width: 166.66667px
}

.flyout.large {
  width: 437.5px
}

.flyout.right {
  left: auto;
  right: -2px
}

.flyout.left {
  right: auto;
  left: -2px
}

.flyout.up {
  top: auto;
  bottom: 39px
}

ul.flyout,
.nav-bar li ul {
  padding: 0;
  list-style: none
}

ul.flyout li,
.nav-bar li ul li {
  border-left: solid 3px #ccc
}

ul.flyout li a,
.nav-bar li ul li a {
  background: #f2f2f2;
  border: 1px solid #e6e6e6;
  border-width: 1px 1px 0 0;
  color: #555;
  display: block;
  font-size: 14px;
  height: auto;
  line-height: 1;
  padding: 15px 20px;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset
}

ul.flyout li a:hover,
ul.flyout li a:focus,
.nav-bar li ul li a:hover,
.nav-bar li ul li a:focus {
  background: #ebebeb;
  color: #333
}

ul.flyout li.active,
.nav-bar li ul li.active {
  margin-top: 0;
  border-top: 1px solid #4d4d4d;
  border-left: 4px solid #1a1a1a
}

ul.flyout li.active a,
.nav-bar li ul li.active a {
  background: #4d4d4d;
  border: none;
  color: #fff;
  height: auto;
  margin: 0;
  position: static;
  top: 0;
  -webkit-box-shadow: 0 0 0;
  -moz-box-shadow: 0 0 0;
  box-shadow: 0 0 0
}

.tabs {
  list-style: none;
  border-bottom: solid 1px #e6e6e6;
  display: block;
  height: 40px;
  padding: 0;
  margin-bottom: 20px
}

.tabs.contained {
  margin-bottom: 0;
  margin-left: 0
}

.tabs dt,
.tabs li.section-title {
  color: #b3b3b3;
  cursor: default;
  display: block;
  float: left;
  font-size: 12px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  padding-right: 9px;
  padding-left: 20px;
  font-weight: normal;
  width: auto;
  text-transform: uppercase
}

.tabs dt:first-child,
.tabs li.section-title:first-child {
  padding: 0;
  padding-right: 9px
}

.tabs dd,
.tabs li {
  display: block;
  float: left;
  padding: 0;
  margin: 0
}

.tabs dd a,
.tabs li a {
  color: #6f6f6f;
  display: block;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  padding: 0px 23.8px
}

.tabs dd a:focus,
.tabs li a:focus {
  font-weight: bold;
  color: #dc3e2f
}

.tabs dd.active,
.tabs li.active {
  border-top: 3px solid #dc3e2f;
  margin-top: -3px
}

.tabs dd.active a,
.tabs li.active a {
  cursor: default;
  color: #3c3c3c;
  background: #fff;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  font-weight: bold
}

.tabs dd:first-child,
.tabs li:first-child {
  margin-left: 0
}

.tabs.vertical {
  height: auto;
  border-bottom: 1px solid #e6e6e6
}

.tabs.vertical dt,
.tabs.vertical dd,
.tabs.vertical li {
  float: none;
  height: auto
}

.tabs.vertical dd,
.tabs.vertical li {
  border-left: 3px solid #ccc
}

.tabs.vertical dd a,
.tabs.vertical li a {
  background: #f2f2f2;
  border: none;
  border: 1px solid #e6e6e6;
  border-width: 1px 1px 0 0;
  color: #555;
  display: block;
  font-size: 14px;
  height: auto;
  line-height: 1;
  padding: 15px 20px;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset
}

.tabs.vertical dd.active,
.tabs.vertical li.active {
  margin-top: 0;
  border-top: 1px solid #4d4d4d;
  border-left: 4px solid #1a1a1a
}

.tabs.vertical dd.active a,
.tabs.vertical li.active a {
  background: #4d4d4d;
  border: none;
  color: #fff;
  height: auto;
  margin: 0;
  position: static;
  top: 0;
  -webkit-box-shadow: 0 0 0;
  -moz-box-shadow: 0 0 0;
  box-shadow: 0 0 0
}

.tabs.vertical dd:first-child a.active,
.tabs.vertical li:first-child a.active {
  margin: 0
}

.tabs.pill {
  border-bottom: none;
  margin-bottom: 10px
}

.tabs.pill dd,
.tabs.pill li {
  margin-right: 10px
}

.tabs.pill dd:last-child,
.tabs.pill li:last-child {
  margin-right: 0
}

.tabs.pill dd a,
.tabs.pill li a {
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  -ms-border-radius: 1000px;
  -o-border-radius: 1000px;
  border-radius: 1000px;
  background: #e6e6e6;
  height: 26px;
  line-height: 26px;
  color: #666
}

.tabs.pill dd.active,
.tabs.pill li.active {
  border: none;
  margin-top: 0
}

.tabs.pill dd.active a,
.tabs.pill li.active a {
  background-color: #dc3e2f;
  border: none;
  color: #fff
}

.tabs.pill.contained {
  border-bottom: solid 1px #eee;
  margin-bottom: 0
}

.tabs.pill.two-up dd,
.tabs.pill.two-up li,
.tabs.pill.three-up dd,
.tabs.pill.three-up li,
.tabs.pill.four-up dd,
.tabs.pill.four-up li,
.tabs.pill.five-up dd,
.tabs.pill.five-up li {
  margin-right: 0
}

.tabs.two-up dt a,
.tabs.two-up dd a,
.tabs.two-up li a,
.tabs.three-up dt a,
.tabs.three-up dd a,
.tabs.three-up li a,
.tabs.four-up dt a,
.tabs.four-up dd a,
.tabs.four-up li a,
.tabs.five-up dt a,
.tabs.five-up dd a,
.tabs.five-up li a {
  padding: 0 17px;
  text-align: center;
  overflow: hidden
}

.tabs.two-up dt,
.tabs.two-up dd,
.tabs.two-up li {
  width: 50%
}

.tabs.three-up dt,
.tabs.three-up dd,
.tabs.three-up li {
  width: 33.33%
}

.tabs.four-up dt,
.tabs.four-up dd,
.tabs.four-up li {
  width: 25%
}

.tabs.five-up dt,
.tabs.five-up dd,
.tabs.five-up li {
  width: 20%
}

ul.tabs-content {
  display: block;
  margin: 0 0 20px;
  padding: 0
}

ul.tabs-content>li {
  display: none
}

ul.tabs-content>li.active {
  display: block
}

ul.tabs-content.contained {
  padding: 0
}

ul.tabs-content.contained>li {
  border: solid 0 #e6e6e6;
  border-width: 0 1px 1px 1px;
  padding: 20px
}

ul.tabs-content.contained.vertical>li {
  border-width: 1px 1px 1px 1px
}

.no-js ul.tabs-content>li {
  display: block
}
