/* Search form */

form.search {
  margin: 0
}

form.search input {
  border: @stroke-width solid @subtle-color-1;
  font-size: 14px;
  font-style: italic;
  color: #c0c0c0;
  padding: 3px 10px;
  box-shadow: none;
  border-radius: 0;
  background: url(../images/search.gif) no-repeat right 6px;
  margin-bottom: 0;
  height: 36px;
  transition: none;
}

header .topline .button {
  color: @background-color;
  text-decoration: none;
  font-style: normal;
}

header .topline .button span {
  font-family: @primary-font
}
